.weather-app {
  max-width: 500px;
  max-height: 450px;
  margin: 40px 0;
  padding: 20px;
  border: 5px solid linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 4px;
  background-color: #e4e4e1;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
}
#header-photo {
  border-radius: 4px;
  max-width: 100%;
  width: 400px;

  display: block;
  margin: 0 auto;
}
h1 {
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  color: #838383;
}

.temp-icon {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#city-temperature {
  font-size: 35px;
  text-align: center;
  color: #838383;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
  color: #838383;
}

.col {
  text-align: right;
  bottom: 60px;
}

form {
  text-align: center;
  margin-bottom: 30px;
}
#city-input {
  border-radius: 4px;
  border-color: #dfdfdf;
}
#search-button {
  border-radius: 4px;
  color: #f4f9f4;
  background: #6bbbff;
  border-color: #dfdfdf;
}
#search-button:hover {
  color: lightslategray;
}
p {
  margin-left: 80px;
}
